extends layout 

block content
    .container-fluid 
        br
        h1.text-center Modificar Dia Libre
        br
        h2 ⬤ Clase
        h3 Esta seguro que desea modificar el estado de dia libre?
        br
        ul 
            li 
                b Dia:  
                | #{dias[horario.fechaInicio.getDay()] + "(" + horario.fechaInicio.getDate() + "/" + horario.fechaInicio.getMonth() +")"}
            li 
                b Hora Inicio: 
                | #{horario.fechaInicio.getHours() + ":" + (horario.fechaInicio.getMinutes()<10?'00':horario.fechaInicio.getMinutes()) + "Hs"}
            li 
                b Hora Fin: 
                | #{horario.fechaFin.getHours() + ":" + (horario.fechaFin.getMinutes() < 10 ? '00': horario.fechaFin.getMinutes()) + "Hs"}
            li 
                b Asignado dia Libre: 
                | #{horario.esDiaLibre ? "Si" : "No"}
        br
        form(action=`/administrar/Materia/${horario.materiaId}/Horario/${horario.id}/AsignarDiaLibre`, method="post")
            input.btn.btn-dark(type="submit", value="Modificar")