extends layout

block content
    .container-fluid
        br
        include notificacion
        br
        h1.text-center Bienvenido, #{usuario.nombre}!
        br
        .row 
            .col-6
                h2 ⬤ Tus Datos
                br
                ul
                    li 
                        b Nombre: 
                        | #{usuario.nombre}
                    li 
                        b Apellido: 
                        | #{usuario.apellido}
                    li 
                        b DNI: 
                        | #{usuario.dni}
                    li 
                        b Email: 
                        | #{usuario.email}
                a.btn.btn-dark(href="/profesor/editarPerfil") Editar Perfil
                br
            .col-6 
                h2 ⬤ Materias que dictas
                br
                .col
                    table.table.table-dark.table-hover.table-striped
                        thead
                            tr
                                th(scope='col') Num 
                                th(scope='col') Nombre 
                                th(scope='col') Gestion 
                                th(scope='col') Asistencia
                        tbody
                            each materia, index in materias 
                                tr 
                                    th(scope='row') #{index + 1}
                                    td #{materia.nombre} 
                                    td 
                                        a.link-light(href=`/profesor/Materia/${materia.id}`)  Gestionar
                                    td 
                                        a.link-light(href=`/profesor/Materia/${materia.id}/gestionarAsistencias`)  Ver Asistencias
                            